
.menu {
    display: flex;
    border: solid 1px;
    justify-content: space-between;
}

.menu__item {
    list-style: none;
}

/* exercise start (20min) */

.menu__group {
    display: flex;
    padding-left:0;
    column-gap: 10px;
}

/* exercise end */