

ul {
    border: solid 1px;
}

.menu {
    display: flex;
    border: solid 1px;
    justify-content: space-between;
}

.menu__item {
    list-style: none;
}

/* exercise start (20min) */

/* exercise end */