img {
    width:150px
}

.box{
    border: solid 1px;
    background-color: white;
    padding:10px 20px;
    width:400px;
    margin: 15px 0;
}

.above{
    display: flex;
    justify-content: space-between;
}

.below{
    display: flex;
    justify-content: space-between;
    width: 80px;
    align-items: center;
}

h2 {
    font-size:18px
}