<h1>Hello!</h1>

<!-- 
    Angular Language Service
    Angular Snippets 
-->

<button (click)="compactView()">Compact view</button>
<button (click)="expandedView()">Expanded view</button>

<app-header-text 
    [header]="'Elephant'" 
    [description]="'Large mammal with a long trunk and tusks, known for intelligence and memory.'" 
/>


<div *ngFor="let product of products">

    <app-product
        [name]="product.name"
        [image]="product.image"
        [description]="product.description"
        [isInStock]="product.isInStock"
        [id]="product.id"
    
    />
    
</div>

<app-header-text 
    [header]="'Tiger'" 
    [description]="'Big cat with a striped coat, known for its strength and agility.'" 
/>

<app-header-text />

<div *ngFor="let item of cartItems()">
    <p>{{item.id}}: {{item.amount}}</p>
</div>

