<h1>Hello!</h1>

<!-- 
    Angular Language Service
    Angular Snippets 
-->

<p>{{currentDate | date:'yyyy-MM-dd'}}</p>
<p>{{currentDate | date:'hh:mm'}}</p>
<p>{{cartItems() | json}}</p>

<button (click)="compactView()">Compact view</button>
<button (click)="expandedView()">Expanded view</button>

<app-header-text 
    [header]="'Elephant'" 
    [description]="'Large mammal with a long trunk and tusks, known for intelligence and memory.'" 
/>


<div *ngFor="let product of products">

    <app-product
        [name]="product.name | uppercase"
        [image]="product.image"
        [description]="product.description | cutText:30"
        [isInStock]="product.isInStock"
        [id]="product.id"
    
    />
    
</div>

<app-header-text 
    [header]="'Tiger'" 
    [description]="'Big cat with a striped coat, known for its strength and agility.'" 
/>

<app-header-text />

<div *ngIf="cartItems().length > 0" class="cart">
    <div class="cart-row" *ngFor="let item of cartItems()">
        <div class="cart-cell-name">{{ getProductName(item.id)}}</div>
        <div class="cart-cell-amount">{{item.amount}}</div>
    </div>
</div>

