<h1>Hello!</h1>

<!-- 
    Angular Language Service
    Angular Snippets 
-->

<button (click)="compactView()">Compact view</button>
<button (click)="expandedView()">Expanded view</button>

<app-header-text 
    [header]="'Elephant'" 
    [description]="'Large mammal with a long trunk and tusks, known for intelligence and memory.'" 
/>

<app-product
    [name]="'Satsumas Class 1'"
    [image]="'satsumas.jpg'"
    [description]="'Juicy and sweet, Satsumas are the perfect citrus treat!'"
    [isInStock]="true"
    [id]="1001"
/>

<app-header-text 
    [header]="'Tiger'" 
    [description]="'Big cat with a striped coat, known for its strength and agility.'" 
/>

<app-header-text />

<app-product
    [name] ="'Tofu'"
    [isInStock]="false"
    [image]="'tofu.jpg'"
    [description]="'Versatile and nutritious, Tofu is a plant-based powerhouse!'"
    [isInStock]="true"
    [id]="1002"
/>

<div *ngFor="let item of cartItems()">
    <p>{{item.id}}: {{item.amount}}</p>
</div>

<h2>All products</h2>

<div *ngFor="let product of products">
    <p>{{product.id}} - {{product.name}} - {{product.isInStock}}</p>
</div>