

input, button {
    border-radius: 20px;
    padding:10px 20px;
    border: solid 1px;
}

button{
    display: block;
    margin-top: 20px;
}

button:hover{
    background-color: blueviolet;
    color:white;
}


h1{
    margin-left: 10px;
    font-family:Arial;
    color:cadetblue;
}
