h1{
    background-color: blueviolet;
    color:white;
    padding: 10px 20px;
}

body{
    font-size: 25px;
}

input[type=radio] {


    height: 25px;
    width: 25px;
    accent-color: blueviolet;
    
}