

<app-card
  [id]="1"
  [question]="'Vilken av följande fåglar kan inte flyga?'"
  [options]="['Sparv', 'Örn', 'Albatross', 'Kiwi']"
/>

<app-bird />

<app-card
  [id]="2"
  [question]="'Vilken fågel har den största vingspannen i världen?'"
  [options]="['Flamingo', 'Vithövdad havsörn', 'Vandringsalbatross', 'Kondor']"
/>
<app-card
  [id]="3"
  [question]="'Vilken fågel är känd för sin förmåga att efterlikna olika ljud, inklusive mänskliga röster?'"
  [options]="['Kolibri', 'Pingvin', 'Papegoja', 'Struts']"
/>

<app-bird />
<app-bird />
